# Terraform working directory & binary plugins
**/.terraform/

# Terraform state files
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform lock file (optional, but keep it if you want deterministic provider versions)
# .terraform.lock.hcl